bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
appsettings.Development.json
/appsettings.Development.json
*/appsettings.Development.json
copy-external.bat
*.development.json
/log_*.json
log_*.json
/log_*
log_*
/logs/*
/logs/
*/logs/
*/logs/*
/src/TrendyolIntegrationApp.Web/Logs/*
**/bin/*